#dd-body-pre {
    background-color: #000000;
}

#dd-body {
    background-color: #000000;
}

div.thumbframe {
    width: 15rem;
    overflow: auto;
}
.thumbTitle{
    cursor: pointer;
    padding:0.25em;
    background-color: #E4EB9E;
}

.gdirthumb {
    border: 1px solid #FFDA69;
    border-radius: 1em;
    color: #ffffff;
}

.thumbcard {
    border: 2px solid #a0a0a0;
    padding: 2px;
    background-color: #000000;
    color: #ffffff;
    width: 15rem;
}

.thumbnamelabel {
    cursor: pointer;
    vertical-align: middle;
    font-weight: bold;
    padding: 0.25em;
}

#g_imagemainview_frame {
    width: 100%;
}

#g_imagemainview {
    width: 100%;
}

img.thumbimg {
    width: 100%;
}

#g_imageviewermainctrlsframe {
    padding: 0.5em;
}

.g_imagecontrolframe{
    display: inline-block;
    vertical-align: top;
    margin:0.25em;
    padding:0.25em;
    border: 1px solid #000000;
}
