body {
      font-family: 'Nunito', sans-serif;
      font-size: 12px;
}


@media screen and (orientation: landscape) {
      .dd-body-pre, .xdd-body-aft {
	    flex: 0 0 12em;
      }
}

@media screen and (orientation: portrait) {
      body {
	    font-size: 24px;
      }
}

#logoframe {
      background-color: #1f1f1f;
      color: #FAF29F;
}